
.cta button{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
}
.cta button:hover{
    cursor: pointer;
}
#dl-ios{
    background: var(--Strong-Cyan);
}
#dl-mac{
    background: var(--Light-Blue);
}